* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
	background-color: lightgrey;
}

button {
	cursor: pointer;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(245, 245, 245, 1) 47%, rgba(227, 227, 227, 1) 100%);
	border: 1px solid grey;
}

button:hover {
	background: linear-gradient(to bottom, rgba(227, 227, 227, 1) 0%,
		rgba(245, 245, 245, 1) 53%, rgba(255, 255, 255, 1) 100%);
}

.wrapper {
	text-align: center;
}

#headerIndex {
	margin-top: 13vh;
}

#userLogin {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
	top: 0px;
	width: 100%;
}

#userNameInp, #userNameBtn {
	width: 100%;
	padding: 10px;
}

#enterUsername {
	width: 280px;
}

#chatWrapper {
	max-width: 1000px;
	margin: 5vh auto;
	height: 90vh;
	position: relative;
	box-shadow: #00000080 6px 6px 18px 0px;
}

#onlineUserWidget {
	display: inline-block;
	width: 25%;
	background-color: #e8e8e8;
	vertical-align: top;
	position: absolute;
	bottom: 0px;
	top: 0px;
	border: 1px solid #757575;
	padding: 10px;
	overflow-y: auto;
}

.onlineUser {
	cursor: pointer;
}

#chatMainFrame {
	display: inline-block;
	width: 75%;
	min-width: 320px;
	background-color: #e8e8e8;
	vertical-align: top;
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	border: 1px solid #757575;
	border-left: none;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#messages {
	position: absolute;
	top: 0px;
	bottom: 70px;
	width: 100%;
	overflow-y: auto;
}

#privateMessage {
	font-style: italic;
}

#systemMessage {
	background: #dc3939b8;
}

#chat {
	padding: 0px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#dFileUpload {
	border-top: 1px solid grey;
	background-color: #e8e8e8;
}

#m {
	border: 0;
	padding: 10px 85px 10px 45px;
	width: 100%;
	border-top: 1px solid grey;
	height: 35px;
}

#d {
	float: right;
	color: DodgerBlue;
	padding: 10px;
}

#f {
	display: none;
}

#bChat {
	width: 75px;
	padding: 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-right: none;
	border-bottom: none;
	border-top: none;
	height: 35px;
	
}

#bFileUpload {
	padding: 10px;
	border-left: none;
	border-bottom: none;
	border-top: none;
}

#bSmilies {
	width: 35px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    height: 35px;
}

.smilies {
	user-select: none;
	cursor: pointer;
	margin-right: 5px;
	font-size: 15px;
}

#smilies {
	padding: 10px;
	border-top: 1px solid grey;
	display: none;
	background-color: #e8e8e8;
}

#inputSubmit {
	display: none;
}

#fileImg {
	width: 5%;
	padding: 5px 10px;
}